<table class="table table-dark table-bordered shadow my-2" *ngIf="leaderboard">
  <thead>
    <tr class="text-center">
      <th>User</th>
      <th>Categories</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of leaderboard">
      <td>
        <img src="{{ user.photoUrl | photo: 32 }}" style="height: 32px;"
              class="align-middle img-fluid rounded-pill mr-2">
        {{ user.displayName }}
      </td>
      <td>
        <mat-chip-list>
          <mat-chip *ngFor="let category of user.categories"
                    color="accent" selected> {{category}} </mat-chip>
        </mat-chip-list>
      </td>
      <td>{{ user.score }}</td>
    </tr>
  </tbody>
</table>